{% extends 'products/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
